
/* used for default size for all elements*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/*Navigation bar*/

main{
    background-color: black;
}
nav{
    height:6vh;
    margin-top: 40px;
    padding:10px;
    font-size: 20px;
    font-weight: 200px;
    background-attachment: fixed;
}    

span{
    padding: 10px;
    background-attachment: scroll;

}

span:hover{
    color: rgb(204, 153, 13);
    background-color: white;
    border-radius: 50%;
}